# Secrets and keys
.env
.streamlit/secrets.toml
.streamlit/config.toml

# Runtime docs folder
docs/

# Python cache
__pycache__/
*.pyc

# VSCode & system files
.vscode/
.DS_Store

config.py

### Python ###
